
:root {
  --primary-color: rgb(6, 9, 95);
}

html {
  font-size: 15px;
}

body {
  //font-family: IranSansX;
  font-family: Figtree;
  font-weight: 500;
  margin-bottom: 5rem;
  font-size: 1rem;
  line-height: 1.5;
}


a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 0.2rem;
  font-size: 14px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;

  .search-form {
    position: absolute;
    z-index: 1000000;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: all 0.3s;
    background-color: #eee;
    padding: 0;
    overflow: hidden;

    &.extended-form {
      width: 40rem;
    }
  }

  .logo {
    width: auto;
    height: 1.5rem;
  }
}

.item {
  transition: all 0.3s;

  .img-square {
    width: 6rem;
    height: 6rem;
  }

  .item-time {
    right: 1rem;
    color: white;
    bottom: 1rem;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    padding: 2px 4px;
  }

  &.withBefore {

    .item-title {
      font-size: 1.2rem;
    }

    .img-item {
      &:before {
        content: '\f04b';
        font-family: "Font Awesome 6 Pro";
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: rgba(255, 255, 255, 0.5);
        width: 4rem;
        height: 4rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 1.5rem;
        display: flex;
        opacity: 0;
      }
    }
  }

  &.searchItem {
    margin-bottom: 2rem;

    .searchItemLink {
      color: gray;
      transition: all 0.3s;

      &:hover {
        color: black !important;
      }
    }
  }

  &.suggestion-item {
    margin-bottom: 1rem;
    display: block;
    transition: all 1s;

    &:hover {
      filter: grayscale(1);

      .item-title {
        color: #444;
      }
    }
  }

  .item-subtitle {
    font-size: 0.8rem;
  }

  .data-item {
    font-size: 0.7rem;
  }

  &:hover {
    .img-item {
      &:before {
        opacity: 1;
        transform: translate(50%, -50%) scale(1.1);
      }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  justify-content: center;
  top: 25% !important;

  &:after {
    font-size: small;
    color: black;
  }

  &.swiper-button-disabled {
    opacity: 0;
  }


  &.swiper-button-next {
    right: -2rem;
  }

  &.swiper-button-prev {
    left: -2rem;
  }

}


.swiper-pagination-bullet {
  background-color: black;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  border: none !important;
}

@media (max-width: 768px) {
  .navigation-bar {
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    z-index: 1;

    ul {
      width: 100%;
      grid-auto-columns: minmax(20%, auto);
      grid-auto-flow: column;
      display: grid;
      gap: 1rem;
      white-space: nowrap;

      a {
        padding: 1rem;
      }
    }
  }
}

.recommendation {
  background-color: var(--primary-color);

  .recommendation-img {
    position: relative;
    width: 100%;
    background-image: url(assets/imgs/xl.png);
  }


  .recommends-link {
    background-color: rgb(166, 163, 226);
    color: var(--primary-color);
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }
}

@media (max-width: 992px) {
  .recommendation {
    height: 10rem;

    .recommendation-img {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .recommendation-content {

    }


  }
}

@media (min-width: 992px) {
  .recommendation {
    height: 10rem;

    .recommendation-img {
      position: relative;
      width: 100%;
      background-size: contain;
      height: 100%;

    }

    .recommendation-content {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: auto;

    }

  }
}

@media (max-width: 768px) {
  .recommendation {
    height: 20rem;

    .recommendation-img {
      height: 55%;
    }

    .recommendation-content {
      height: 45%;
      padding: 1rem;

      h3 {
        flex-grow: 1;
      }

      .recommends-link {
        width: 100%;
      }
    }
  }
  .swiper {
    overflow: visible;
  }
}

@media (min-width: 768px) {
  .recommendation-content {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 60%;
    //padding: 1rem;


  }
}

.post-item {
  &:hover {
    .title {
      color: #444;
    }
  }
}

.more-btn {
  padding: 0.8rem 1.3rem;
}

.playlist-item {
  &:hover {
    color: #444;
  }
}

.footer {
  background-color: black;
  color: white;

  .footer-logo {
    height: 1.5rem;

    path {
      fill: white;
    }
  }

  .footer-menu {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.social-menu {
  a {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.download-app-menu {

  img {
    height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .footer-bottom {
    ul {
      li {
        flex: 25%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-bottom {
    ul {
      li {
        flex: 50%;
        margin-bottom: 2rem;
      }
    }
  }
}

.footer-bottom {
  ul {
    li {
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.text-gray {
  color: rgb(181, 181, 181);
}

.red-btn {
  background-color: rgb(217, 30, 24);
  color: white;
}

.membershipBtn {
  padding: 0.7rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 50%;

  .video-js {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;

    .vjs-big-play-button {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: white;
      position: relative;
      transition: all 0.3s;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 5px solid white;
        animation: coccoc-alo-circle-anim 3s infinite ease-in-out;
      }

    }

    .vjs-duration.vjs-time-control {
      display: block;
    }

    &:hover {
      .vjs-big-play-button {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  .vjs-poster {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3rem;
  width: auto !important;
  height: auto !important;
}

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.mainContent {
  .content-options {
    button:hover {
      background-color: #eee;
    }
  }

  .desc-list {
    li {
      a {
        position: relative;

      }

      &:not(:last-child) a:after {
        content: ',';
        position: absolute;
        right: -.5rem;
      }
    }

  }

  .desc.limit {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.3s;
  }

  .speaker-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media (min-width: 1200px) {
  .suggestion-list {
    height: 100vh;
    overflow: auto;
  }

}

.content-options {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

#shareModal {
  ul {
    a {
      i {
        color: #444;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 1.5rem;
        background-color: #eee;

        &.fa-facebook-f {
          background-color: #425893;
          color: white;
        }

        &.fa-linkedin-in {
          background-color: #2867B2;
          color: white;
        }

        &.fa-twitter {
          background-color: #1DA1F2;
          color: white;
        }

        &.fa-twitter {
          background-color: #1DA1F2;
          color: white;
        }
      }
    }
  }
}

.form-control:focus {
  box-shadow: none;
}
